<div class="parent_contact">
  <div class="content_contact">
    <div class="cm">Contact Me</div>
    <div class="left">
      <div class="left_sub">
      <div class="phone">Phone:<br><p>9014322364</p></div>
      <div class="mail">Email:<br><p>rakeshkakaraparthi232@gmaail.com</p></div>
      <div class="website">Website:<br><p>www.rAKESH.com</p></div>
      </div>
      <div class="followme">
        <p>Follow Me</p>
      </div>
    </div>
    <div class="right">
      <div class="gt"><span>||</span>Get In Touch</div>
      <div class="right_content">If you have any project or<br>need help.Contact me</div>
      <div class="form">
        <div class="formleft">
          <input type="text" id="name" placeholder="Name">
          <input type="number" id="phone" placeholder="Phone">
        </div>
        <div class="formright">
          <input type="email" id="email" placeholder="Email">
          <input type="text" id="subject" placeholder="Subject">
        </div>
        <div class="formbot">
          <textarea name="" id="" cols="30" rows="10">Comment</textarea>
        </div>
        <div class="button">
          <button>Submit message</button>
        </div>
      </div>
    </div>
  </div>
</div>
