<div class="parent_page">
    <div class="parent_menu">
      <div class="list">
        <ul>
          <li id="logo">Angular Wiz</li>
          <li id="home"><a router routerLink="home">Home</a></li>
          <li id="services"><a router routerLink="services">Services</a></li>
          <li id="about"><a router routerLink="about_us">About Us</a></li>
          <li id="projects"><a router routerLink="projects">Projects</a></li>
          <li id="contact"><a router routerLink="contact">Contact</a></li>
          <li id="hire"><a router routerLink="hire_me">Hire Me <span>>></span></a></li>
        </ul>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
<app-services></app-services>
<app-about_us></app-about_us>
<app-projects></app-projects>
<app-contact></app-contact>
<div class="footer_parent">
  <div class="footer">
    <div class="gtupdates"><span>||</span>Get Latest Updates</div>
    <div class="input1"><input type="email" placeholder="demo@example.com"><button>Subscribe Now</button></div>
    <div class="contact_details">
      <div class="number">9014322364</div>
      <div class="mail">rakeshkakaraparthi232@gmail.com</div>
      <div class="fb"></div>
      <div class="li"></div>
    </div>
  </div>
  <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <div class="copyrights">
      <div class="line1">© 2021 <span>Angular</span> Wiz Made with<span> ♡ </span>by <span>HasThemes</span></div>
      <div class="logo">Angular Wiz</div>
    </div>
</div>